@model MyShop.Core.Models.Product

<div>
    <h4><b>Product Details</b></h4>
    <hr />
    <div class="col-md-2">
        <img class="img-responsive" src="~/Content/ProductImages/@Model.Image"
    </div>
    <div class="col-md-10">
        <dl class="dl-horizontal">
            
            
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>

            </dt>
            <dd>
                <a href="@Url.Action("AddToBAsket","Basket",new { Id=Model.Id}) " class="btn btn-default">Add to Basket</a>

            </dd>
            <dt></dt>
            <dd>@Html.ActionLink("Back To List" , "Index") </dd>
        </dl>
    </div>
</div>
<div class="col-md-12 clearfix"></div>
